#eventhub-header{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	top: 0;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 90px;
	color: #EBEBEB;
	line-height: 120px;
}
#eventhub-header small{
	font-size: 12px;
	color: #ccc;
	text-shadow: 0px 0px 2px #CF2727;
	text-transform: uppercase;
}
#eventhub-welcome{
	width: 525px;
	height: 250px;
	margin: 0px auto;
	margin-top: 200px;
}

#eventhub-welcome h1{
	color: white;
	text-shadow: 1px 2px 3px #000;
}

.eventhub-small-link{
	display: block;
	text-align: center;
	padding: 10px 0px;
	color: #d5d5d5;
	text-shadow: 1px 1px 1px #000;
	font-size: 14px;
	line-height: 14px;
}

.eventhub-button{
	text-align: center;
	font-size: 26px;
	width: 250px;
	padding: 25px 35px;
	line-height: 26px;
}


#eventhub-table{
	display: none;
	width: 970px;
	background: #fff;
	margin: 0 auto;
	padding: 25px;
	border-radius: 5px;
	margin-bottom: 25px;
	height: auto;
	border-bottom: 3px solid #B4B4B4;
}
#eventhub-table span a{
	display: block;
	margin: 0;
	padding: 10px 0px 10px;
	font-size: 13px;
	font-weight: 700;
	color:#333;
}
#eventhub-table span a:hover{
	color: #888;
	text-decoration: underline;
	cursor: pointer;
}
#eventhub-table h1{
	padding-bottom: 10px;
	text-shadow: 1px 2px 1px #333;
}

#eventhub-table .eventhub-table-row{
	width: auto;
	height: auto;
	background: rgb(241, 241, 241);
	padding: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}
#eventhub-table .eventhub-table-row-detail{
	height: 90px;
}
#eventhub-table .eventhub-table-row-detail img{
	display: block;
	width: 75px;
	height: 75px;
	float: left;
	border-radius: 5px;
	border: 1px solid #999;
}
#eventhub-table .eventhub-table-row-detail h3{
	float: left;
	font-size: 24px;
	line-height: 75px;
	margin: 0px;
	padding: 0px 10px;

}
#eventhub-table .eventhub-table-row-detail a{
	color: #333;
}

#eventhub-table .eventhub-table-row-detail span{
	float: right;
	margin: 0px;
	width: 94px;
	text-align: center;
	height: 94px;
	font-weight: 700;
	font-size: 35px;
	padding-top: 24px;
	line-height: 24px;
	border-radius: 5px;
	background: #ddd;
	box-shadow: 0px 0px 4px #999;
}
#eventhub-table .eventhub-table-row-detail small{
	font-size: 12px;
	line-height: 10px;
}

#eventhub-table .eventhub-table-row-ppl img{
	margin-top: 0px;
	width: 64px;	
	height: 64px;	
	float: left;
	border-radius: 5px;	
	border: 1px solid #888;
	margin-right: 5px;
}
#eventhub-table .eventhub-table-row-ppl img:hover{
	cursor: pointer;
}
#eventhub-table .eventhub-table-row-ppl small{
	font-size: 50px;
	margin: 0px;
	padding: 0px 10px;
	line-height: 36px;
}#eventhub-table .eventhub-table-row-ppl a:hover{
	cursor: pointer;
	text-decoration: none;
}

#eventhub-footer{
	text-align: center;
	position: absolute;
	width: 250px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 5px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#eventhub-footer p{ 
	color: #777;
	font-size: 13px;
	line-height: 17px;
}
#eventhub-footer a{
	color: #fff;
	text-decoration: none;
}
#eventhub-footer a:hover{
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}
