<div class="ink-grid">

  <div class="all-100" infinite-scroll="scroll()">
    <div class="event" ng-repeat="event in events">
      <a href="http://www.facebook.com/events/{{event.id}}" target="_blank">{{event.name}}</a>
      <div class="small">{{timeSince(event.date)}}</div>
      <div>{{event.attending}} Attendees ~ {{event.femalePercentage}}% Female</div>
      <div>
        <a class="attendee" href="https://www.facebook.com/profile.php?id={{attendee}}" ng-repeat="attendee in event.femaleAttendees" target="_blank">
          <img ng-src="https://graph.facebook.com/{{attendee}}/picture?width=30&height=30">
        </a>
        <span ng-if="event.femaleAttendees.length+event.maleAttendees.length < event.attending">(...)</span>
      </div>
    </div>
  </div>

</div>