{{> header}}

<div id="eventhub-welcome">
	<select id="city">
		{{#each cities}}
		<option value="{{name}}">{{name}}</option>
		{{/each}}
	</select>
	<label>City:</label>

	<h1>What tha f&#35;&#36;&#38; are you?</h1>
	<a href="#" data-gender="male" class="ink-button blue eventhub-button eventhub-trigger pull-left">Male</a>
	<a href="#" data-gender="female" class="ink-button red eventhub-button eventhub-trigger pull-right">Female</a>
	
	<a href="http://en.wikipedia.org/wiki/Asexuality" class="eventhub-small-link" target="_blank">Don't know?</a>
	<!--<a href="#" data-gender="wtf" class="eventhub-small-link eventhub-wtf-trigger">Don't know?</a>-->
</div>

<div id="eventhub-table">

	<h1>Events in "<b></b>"</h1>
	<small class="subtitle">Order by highest rate of getting laid.</small>
	<span><a href="/" style="width:65px;">&lt; Back</a></span>
	<div class="clearfix"></div>

	<section id="eventhub-table-wrapper" class="ac-container">
	</section>

</div>

<div id="eventhub-about">
	<div class="eventhub-about-close"></div>
	<h2>What tha fu&#35;&#36; is this shit?</h2>
	<p>We're just two random guys trying to help you getting laid.</p>
	<p>If you want your city in the list or if you are nearby and want to hangout, give us a call</p>
	<hr>
	<p>
		<a href="http://franciscodias.net/" target="_blank">Francisco Dias</a> &amp; 
		<a href="https://www.facebook.com/AndreFilipe.F.Silva" target="_blank">Andr&eacute; Silva</a>
	</p>
	<hr>
	<p>Thanks for the inspiration <a href="http://showmethechicks.com/">SHOWMETHECHICKS</a>! =)</p>
	<hr>
	<p>Btw, we are students, so we should be releasing new features/updates every other week. ¯\_(ツ)_/¯</p>

</div>


<div id="eventhub-wtf">
	<div class="eventhub-wtf-close"></div>
</div>
{{> footer}}
