{{> header}}

<div class="ink-grid">
	<div id="eventhub-welcome">
		<h1>What are you?</h1>
		<a href="#" data-gender="male" class="ink-button blue eventhub-button eventhub-trigger">Male</a>
		<a href="#" data-gender="female" class="ink-button red eventhub-button eventhub-trigger">Female</a>

		<!--<a href="#" data-gender="wtf" class="eventhub-small-link eventhub-trigger">Don't know?</a>-->
	</div>
</div>

<div id="eventhub-table">

	<h1>Event List</h1>
	<span><a href="/" >&lt; Back</a></span>
	
</div>

{{> footer}}
